@font-face {
    font-family: lemon;
    src: url(lemon.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
    background-color: snow;
}

.navbar {
    background-color: #61e294;
}

.main {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    height: 85vh;
}

.content-wrapper {
    padding-top: 3%;
}

.content-wrapper h1 {
    font-family: lemon;
    font-size: 500%;
    color: #61e294;
}

.main-logo {
    width: 20%;
    height: auto;
    margin: 0 auto;
}

.btn {
    margin-top: 1%;
    width: 30%;
    color: snow;
    background-color: #61e294;
    border-color: #61e294;
}

.btn:hover {
    background-color: #39c36e;
    border-color: #39c36e;
    color: snow;
}

.outputData {
    text-align: center;
}

.output {
    padding-top: 2%;
    font-size: 450%;
    font-weight: bold;
    color: black;
    width: 100%;
}


@media (max-width: 991.98px) {

    .main {
        width: 100%;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        height: 100vh;
    }

    .content-wrapper {
        padding-top: 15%;
    }

    .main-logo {
        width: 40%;
        height: auto;
    }

}
